@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* NAVBAR START */

/* .navbarContainer {
    display: flex;
    justify-content: space-between;
} */

.navbarComp {
    align-items: center;
    padding: 0 50px !important;
    height: 12vh;
    width: 100%;
    display: flex;
    background-color: #0B0B0B;
    font-size: 18px;
    font-weight: 700;
  }
  
  .nav-left > img {
    width: 70px;
    height: 68.22px;
  }
  
  .nav-left {
    flex: 1;
  }
  
  .nav-right {
    flex: 1;
    padding: 0;
    text-align: end;
  }
  
  .nav-right > ul {
    text-decoration: none;
    color: white;
  }
  
  .nav-right li {
    display: inline;
    color: white;
    text-decoration: none;
    color: white;
    margin-left: 23px;
    font-size: 18px;
    font-family: Avenir;
  }
  
  .nav-right > li > link {
    text-decoration: none;
    color: white;
  }
  
  .right-login {
    color: white;
    text-decoration: none;
  
    align-self: center;
  }

/* NAVBAR END */


/* LOGIN PAGE STYLE START */

.loginPageContainer {
    background-color: #0B0B0B;
    color: white;
    min-height: 100vh;
    margin: auto;
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContentContainer {
    display: flex;
    flex-wrap: wrap;
}

.loginLeftContent {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.loginLeftContent h1 {
    font-size: 56px;
    font-weight: 700;
}

.loginLeftContent p {
    font-size: 18px;
    color: #6A6A6A;
}

/* .bigMerchIcon {
    
} */
.loginButtonContainer {
    margin-top: 10vh;
}

.loginButtonContainer button:first-child {
    width: 135px;
    height: 40px;
    background: #F74D4D;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
} 

.loginButtonContainer button:nth-child(2) {
    width: 135px;
    height: 40px;
    background: #0B0B0B;
    border: none;
    color: white;
    font-size: 18px;
} 


.loginRightContent {
    flex: 50%;

}

.loginCard {
    width: 416px;
    height: 366px;
    background: #181818;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 7vh;
}

.loginCardTop {
    padding-top: 9%;
    padding-left: 8%;
    margin-bottom: 6%;
}

.loginCard h3 {
    font-weight: 700;
    font-size: 36px;
}

.loginCardBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginCard input:first-child {
    width: 350px;
    height: 50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5%;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

.loginCard input:nth-child(2) {
    width: 350px;
    height: 50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

/* .loginCard input::placeholder {
    text-align: start;
    padding-left: 10px;
} */

.loginCard button {
    margin-top: 50px;
    width: 350px;
    height: 50px;
    background: #F74D4D;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
}

/* LOGIN PAGE STYLE END */


/* REGISTER PAGE STYLE START */

.registerPageContainer {
    background-color: #0B0B0B;
    color: white;
    min-height: 100vh;
    margin: auto;
    padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.registerContentContainer {
    display: flex;
    flex-wrap: wrap;
}

.registerLeftContent {
    flex: 50%;
    display: flex;
    flex-direction: column;
}

.registerLeftContent h1 {
    font-size: 56px;
    font-weight: 700;
}

.registerLeftContent p {
    font-size: 18px;
    color: #6A6A6A;
}

/* .bigMerchIcon {
    
} */
.registerButtonContainer {
    margin-top: 10vh;
}

.registerButtonContainer button:first-child {
    width: 135px;
    height: 40px;
    background: #F74D4D;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    margin-right: 20px;
    border: none;
} 

.registerButtonContainer button:nth-child(2) {
    width: 135px;
    height: 40px;
    background: #0B0B0B;
    border: none;
    color: white;
    font-size: 18px;
} 


.registerRightContent {
    flex: 50%;

}

.registerCard {
    width: 416px;
    height: 443px;
    background: #181818;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 7vh;
}

.registerCardTop {
    padding-top: 9%;
    padding-left: 8%;
    margin-bottom: 6%;
}

.registerCard h3 {
    font-weight: 700;
    font-size: 36px;
}

.registerCardBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerCard input:first-child {
    width: 350px;
    height: 50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5%;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

.registerCard input:nth-child(2) {
    width: 350px;
    height: 50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 5%;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

.registerCard input:nth-child(3) {
    width: 350px;
    height: 50px;
    background: rgba(210, 210, 210, 0.25);
    border: 2px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    color: white;
}

/* .registerCard input::placeholder {
    text-align: start;
    padding-left: 10px;
} */

.registerCard button {
    margin-top: 50px;
    width: 350px;
    height: 50px;
    background: #F74D4D;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 18px;
}

/* REGISTER PAGE STYLE END */


/* HOMEPAGE STYLE START */

.homepagePageContainer {
    background-color: #0B0B0B;
    color: white;
    min-height: 100vh;
    margin: auto;
    padding: 10vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
}

.homepagePageContainer h5 {
    font-size: 24px;
    color: #F74D4D;
    margin-bottom: 30px;
}

.homepageCardContainer {
    width: 80vh;
    display: flex;
    flex-wrap: wrap;
}

/* DETAIL PRODUCT START */

.detailProductPageContainer {
    background-color: #0B0B0B;
    color: white;
    min-height: 88vh;
    margin: auto;
    padding: 10vh 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* DETAIL PRODUCT END */


/* PROFILE PAGE START */

.profilePageContainer {
    background-color: #0B0B0B;
    color: white;
    min-height: 88vh;
    margin: auto;
    padding: 10vh 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROFILE PAGE END */

/* CATEGORY PAGE START */

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
/* CATEGOTY PAGE END */